{{ define "main" }}
<article>
  {{ .Content }}
  <div class="grid">
    {{ with .NextInSection }}
    <div style="text-align: left;">
      <a href="{{ .Permalink }}">
        &lt;&dash;&dash; {{ .Title }}
      </a>
    </div>
    {{ end }}
    {{ with .PrevInSection }}
    <div style="text-align: right;">
      <a href="{{ .Permalink }}">
        {{ .Title }} &dash;&dash;&gt;
      </a>
    </div>
    {{ end }}
  </div>
  <!-- Add mermaid min js file -->
  {{ if (.Params.mermaid) }}{{ partial "mermaid.html" }}{{ end }}
</article>
{{ end }}
