<header class="container">
  <hgroup>
    <h1>{{ .Title }}{{ with .Params.author }} by {{ . }}{{ end }}</h1>
    <p>
      {{ with .Params.subtitle }}{{ . }}<br/>{{ end }}
      {{ with .Description }}{{ . }}<br/>{{ end }}
      {{ with .Params.author }}by {{ . }}<br/>{{ end }}
      {{ with .GetTerms "categories" }}{{ range . }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}.</a>
      {{ end }}<br/>{{ end }}
      {{ with .GetTerms "tags" }}{{ range . }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}.</a>
      {{ end }}<br/>{{ end }}
    </p>
  </hgroup>
</header>
