{{ define "main" }}
<div class="grid">
  {{ if .Site.Taxonomies.categories }}<div>
    <details>
      <summary>Categories</summary>
      <ul>
        {{ range .Site.Taxonomies.categories }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
        {{ end }}
      </ul>
    </details>
  </div>{{ end }}
  {{ if .Site.Taxonomies.tags}}<div>
    <details>
      <summary>Tags</summary>
      <ul>
        {{ range .Site.Taxonomies.tags }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
        {{ end }}
      </ul>
    </details>
  </div>{{ end }}
</div>
<div class="books">
  {{ range .Site.Sections }}
  <article>
    {{ if .Params.cover }}
    <figure>
      <img src="{{ .Params.cover | relURL }}" alt="cover">
    </figure>
    {{ end }}
    <hgroup>
      <h2 style="text-align: center;">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h2>
      <p>
        {{ if .Params.subtitle }}{{ .Params.subtitle }}<br/>{{ end }}
        {{ if .Params.author }}by {{ .Params.author }}</br>{{ end }}
        {{ with .GetTerms "categories" }}
        {{ range . }}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}.</a>
        {{ end }}{{ end }}
        {{ if .Description }}{{ .Description }}{{ end }}
      </p>
    </hgroup>
    <ul>
      {{ range first 5 .Pages }}
      <li>
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ $pageNums := len .Pages }}
    {{ if ge $pageNums 6 }}
    <p style="text-align: right;">
      <a href="{{ .Permalink }}">
        ...more
      </a>
    </p>
    {{ end }}
  </article>
  {{ end }}
</div>
{{ end }}
